body
{
  background-color:  #a8dadc
}
  hr
 {
  background-color: white;
  border-style:dashed;
  border-color: #7e8a97;
  height: 0px;
  width: 10%;
}
img { 
  width:300px;
  height:300px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

h1 {

  color: #407088;
}


h3 {
  color: #407088;
}